torch==2.3.1
torchsde
torchvision==0.18.1
torchaudio==2.3.1
numpy>=1.25.0
einops
transformers>=4.28.1
tokenizers>=0.13.3
sentencepiece
safetensors>=0.4.2
aiohttp
pyyaml
Pillow
scipy
tqdm
psutil
av
accelerate
pytorch-lightning
diffusers
mediapipe>=0.10.8
transformers
huggingface-hub
omegaconf
opencv-python
face-alignment
decord
ffmpeg-python
imageio-ffmpeg
runpod

#non essential dependencies:
kornia>=0.7.1
spandrel
soundfile
